.uk-container.uk-container-small
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    .uk-grid-small.uk-child-width-1-1(uk-grid)
      %div
        %h1.uk-heading-primary.uk-text-center.uk-padding Edit Account
      %div= devise_error_messages!
      %div
        .js-upload.uk-placeholder.uk-text-center
          %span(uk-icon='icon: cloud-upload')
          %span.uk-text-middle Upload an avatar, by dragging here!
          %div(uk-form-custom)
            = f.file_field :avatar
            %span.uk-link Or, by clicking here
          %div.uk-text-middle It works, trust me. I'm too lazy to put the uploaded image here. Just accept it.
        %progress#js-progressbar.uk-progress{value:0,max:100,hidden:true}
        :javascript
          var bar = document.getElementById('js-progressbar')
          UIkit.upload('.js-upload', {
              url: '/user/avatar',
              multiple: false,
              name: 'avatar',
              mime: 'image/*',
              loadStart: function (e) {
                  console.log('loadStart', arguments);

                  bar.removeAttribute('hidden');
                  bar.max = e.total;
                  bar.value = e.loaded;
              },

              progress: function (e) {
                  console.log('progress', arguments);

                  bar.max = e.total;
                  bar.value = e.loaded;
              },

              loadEnd: function (e) {
                  console.log('loadEnd', arguments);

                  bar.max = e.total;
                  bar.value = e.loaded;
              },

              completeAll: function () {
                  console.log('completeAll', arguments);

                  setTimeout(function () {
                      bar.setAttribute('hidden', 'hidden');
                  }, 1000);

                  // alert('Upload Completed');
              }

          });
      %div
        .uk-inline.uk-width-1-1
          %span.uk-form-icon{'uk-icon': 'icon:mail'}
          = f.email_field :email, placeholder: 'Email', class: 'uk-input'
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
      %div{class:'uk-width-1-2@s'}
        .uk-inline.uk-width-1-1
          %span.uk-form-icon{'uk-icon': 'icon:user'}
          = f.text_field :name, placeholder: 'Fancy Name', autofocus: true, class: 'uk-input'
      %div{class:'uk-width-1-2@s'}
        .uk-inline.uk-width-1-1
          %span.uk-form-icon{'uk-icon': 'icon:world'}
          = f.text_field :username, placeholder: 'Username', class: 'uk-input'
      %div
        .uk-inline.uk-width-1-1
          %span.uk-form-icon{'uk-icon': 'icon:mail'}
          = f.text_area :bio, placeholder: 'Tell us a little about yourself!', class: 'uk-input'

      %div{class:'uk-width-1-2@s'}
        .uk-inline.uk-width-1-1
          %span.uk-form-icon{'uk-icon': 'icon:lock'}
          = f.password_field :password, autocomplete: "off", class: 'uk-input', placeholder: 'Password'
      %div{class:'uk-width-1-2@s'}
        .uk-inline.uk-width-1-1
          %span.uk-form-icon{'uk-icon': 'icon:lock'}
          = f.password_field :password_confirmation, autocomplete: "off", class: 'uk-input', placeholder: 'Password Confirmation'

      %div
        .uk-inline.uk-width-1-1
          %span.uk-form-icon{'uk-icon': 'icon:unlock'}
          = f.password_field :current_password, placeholder: 'Current Password (Required)', class: 'uk-input'
      .uk-button-group.uk-child-width-expand
        = f.submit "Update", class:'uk-button uk-button-primary'
